<div class="header" style="position: relative;">

  <div class="text-center">
    <h1 class="display-4">Be-Asia McKerracher</h1>
    <h3>Software Engineer</h3>
  </div>


  <div style="position: absolute; bottom: 5px; right: 10px;">
       <a
      href="https://www.linkedin.com/in/be-asia/"
      target="_blank"
    >
      <img
        src="\assets\images\linkedin-icon.png"
        width="24"
        height="24"
        alt="LinkedIn"
        class="rounded-circle me-2"
      />
    </a>

    <a
      href="https://github.com/amerigirl"
      target="_blank"
    >
      <img
        src="\assets\images\gitHub.png"
        width="24"
        height="24"
        alt="GitHub"
        class="rounded-circle me-2"
      />
    </a>
  </div>
  <!-- <div class="laptop">
    <img class="laptop" src= \assets\images\laptop2.jpg>
    <img class="mePic" src= \assets\images\pic_of_me.jpg>
  </div> -->

</div>
