.jumbotron {
  padding: 0.3rem 1rem;
  background-color: lightcyan;
}

.laptop {
  height: 260px;
  border-radius: 50%;
  margin-left: 22%;
}

.mePic {
  height: 125px;
  width: 130px;
  margin-bottom: 25px;
  margin-left: -17.8%;
}
