<div
  class="card shadow text-center m-2"
  style="max-width: 355px; min-width: 355px"
>
  <div class="card-body">
    <h5 class="card-title p-2">{{ Project.name }}</h5>
    <img [src]="Project.pictures[0]" class="card-img-top p-1" alt="Project Image" style="height: 200px; width: 200px;"> <!--why did the deletion of [0] in project.pictures[0] do nothing?-->
    <p class="card-text p-1">{{ Project.summary }}</p>
    <button class="btn btn-primary" (click)="openProjectModal()">View More</button>
  </div>

  <div class="div card-footer">
    <div class="d-flex flex-wrap justify-content-center">
      <div *ngFor="let tag of Project.tags">
        <!--remember how to deal with arrays in html-->
        <div class="tag me-3 mb-1" [style.background-color]="tag.color">
          {{ tag }}
        </div> <!--how did you bind this data here?  REMEMBER!-->

      </div>
    </div>
  </div>
</div>
