<div class="modal-header">
  <h2>{{ project.name }}</h2>
  <button class="btn-close" (click)="BsModalRef.hide()"></button>
</div>

<div class="modal-body">
  <carousel>
    <slide><img src="/assets/images/studying!.jpg" style="display: block; width: 100%;"></slide>
       <slide><img src="/assets/images/Karat_practice_list.png" style="display: block; width: 100%;"></slide>
       <slide><img src="/assets/images/basic_practice.jpg" style="display: block; width: 100%;"></slide>

  </carousel>
</div>
