<div class="container">

  <div class="row">

    <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px">
      <project-card [projectName]="'Sample Angular App'"></project-card> <!--why do you need both sets of quotes here?  Remember, it's important!'-->
    </div>

     <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px">
      <project-card [projectName]="'Second Sample App'"></project-card>
    </div>

     <div class="col-lg-4 col-md-6 mb-4" style="max-width: 380px">
      <project-card [projectName]="'Final Sample App'"></project-card>
    </div>
  </div>

 </div>
