<div class="container">
  <div class="mb-2">
    <div>
      <button
        class="btn btn-outline-primary mb-2 me-2"
        (click)="isCollapsed = !isCollapsed"
      >
        Filter
      </button>

      <button
        class="btn btn-outline-secondary mb-2"
        (click)="resetFilters()"
        [hidden]="!filtering"
      >
        Reset
      </button>
    </div>

    <div [collapse]="isCollapsed" [isAnimated]="true">
      <div class="border mb-2 shadow-sm" style="width: 380px">
        <form>
          <div class="row mx-0">
            <div class="col">
              <small><b>Languages:</b></small>
              <div class="form-group">
                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="html"
                    (change)="filter()"
                    name="html"
                  />
                  <label class="form-check-label small">HTML</label>
                </div>
                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="javaScript"
                    (change)="filter()"
                    name="javaScript"
                  />
                  <label class="form-check-label small">JavaScript</label>
                </div>

                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="cSharp"
                    (change)="filter()"
                    name="cSharp"
                  />
                  <label class="form-check-label small">CSharp</label>
                </div>

                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="java"
                    (change)="filter()"
                    name="java"
                  />
                  <label class="form-check-label small">Java</label>
                </div>
                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="python"
                    (change)="filter()"
                    name="python"
                  />
                  <label class="form-check-label small">Python</label>
                </div>

                <div class="form-check">
                  <!--builds your checkbox-->

                  <!--review two-way binding using ngModel-->
                  <input
                    type="checkbox"
                    class="form-check-input position-static me-2"
                    [(ngModel)]="sql"
                    (change)="filter()"
                    name="sql"
                  />
                  <label class="form-check-label small">SQL</label>
                </div>
              </div>
            </div>

            <div class="col">
              <small><b>Frameworks:</b></small>
              <div class="form-check">
                <!--builds your checkbox-->

                <!--review two-way binding using ngModel-->
                <input
                  type="checkbox"
                  class="form-check-input position-static me-2"
                  [(ngModel)]="angular"
                  (change)="filter()"
                  name="angular"
                />
                <label class="form-check-label small">Angular</label>
              </div>

              <div class="form-check">
                <!--builds your checkbox-->

                <!--review two-way binding using ngModel-->
                <input
                  type="checkbox"
                  class="form-check-input position-static me-2"
                  [(ngModel)]="aspNet"
                  (change)="filter()"
                  name="aspNet"
                />
                <label class="form-check-label small">Asp.Net</label>
              </div>
            </div>
            <div class="col">
              <small><b>Environments:</b></small>
              <div class="form-check">
                <!--builds your checkbox-->

                <!--review two-way binding using ngModel-->
                <input
                  type="checkbox"
                  class="form-check-input position-static me-2"
                  [(ngModel)]="nodeJS"
                  (change)="filter()"
                  name="nodeJS"
                />
                <label class="form-check-label small">NodeJs</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      *ngFor="let project of projects"
      class="col-lg-4 col-md-6 mb-4"
      style="max-width: 380px"
    >
      <project-card [Project]="project"></project-card>
    </div>
  </div>
</div>
