<div class="container text-center">
  <button (click)="downloadFile()" class="btn btn-primary mb-5 shadow border">
    Download PDF Resume
  </button>

  <accordion>
    <accordion-group heading="Summary">
      <p>
        Associate Software Engineer with a pension for problem solving,
        technical accuracy, and a love of agile development! Currently focused
        on the Angular framework and front-end development while also gowing my
        skills in backend architecture through SQL and the .Net framework. I'm
        also a former educator for UMKC and tutor for Women’s+ Web Development
        bootcamp through LaunchCode. The tech field is such a dynamic space, I
        can't wait to see where it takes me :)
      </p>
    </accordion-group>

    <accordion-group heading="Languages/Skills">
       <div class="container">
      <div class="row">
        <div class="col-md-3 languages">
          <div class="mt-4 mb-3">
            <h6>Languages/Frameworks</h6>

            <ul>
              <li>JavaScript</li>
              <li>HTML/CSS</li>
              <li>Angular</li>
              <li>C-Sharp</li>
              <li>Asp.Net</li>
            </ul>
          </div>
        </div>

        <div class="dataEnviro col-md-3 mt-4">
          <h6 class="">Databases/Environments</h6>
          <ul>
            <li>SQL</li>
            <li>NodeJs</li>
            <li>VS Code</li>
            <li>Visual Studio</li>
          </ul>

        </div>

         <div class="collab col-md-3 mt-4">
          <h6>Skills</h6>
          <ul>
            <li>Peer Mentoring</li>
            <li>Cross-team Collaboration</li>
            <li>Team Building</li>
            <li>Documentation Writing</li>
          </ul>
        </div>
      </div>
    </div>
    </accordion-group>


    <accordion-group heading="Work Experience">

      
    </accordion-group>

    <accordion-group heading="Education/Certs"> </accordion-group>
  </accordion>
</div>
