.languages {
  text-align: left;
  margin-left: 5rem;
  text-decoration: underline;
}

.dataEnviro {
  text-decoration: underline;
  text-align: left;
  margin-left: 5rem;
}

.collab {
  text-decoration: underline;
  text-align: left;
  margin-left: 5rem;
}

.sTitle{
color: grey
}

.year{
 margin-top: 50px;
 margin-left: 20px;
}

.edu{
  text-decoration: underline;
}


/*spend some time getting to know this!*/
accordion-group::ng-deep .btn-link{
  color: white;
}

accordion-group::ng-deep .card-header{
  background-color: #007bff;
}
