.languages {
  text-align: left;
  margin-left: 5rem;
  text-decoration: underline;
}

.dataEnviro {
  text-decoration: underline;
  text-align: left;
  margin-left: 5rem;
}

.collab {
  text-decoration: underline;
  text-align: left;
  margin-left: 5rem;
}

.sTitle{
color: grey
}
