<div class="container">
  <div class="row">
    <!--about me-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          class="myPic"
          src="\assets\images\pic_of_me.jpg"
          alt="profile picture"
        />
        <p>
          Hi! I'm a Software Engineer with a pension for problem solving,
          technical accuracy, and a love of agile development! Currently focused
          on the Angular framework and front-end development while also gowing
          my skills in backend architecture through SQL and the .Net framework.
          I'm also a former educator for UMKC and tutor for Women’s+ Web
          Development bootcamp through LaunchCode. After the big move back home
          to Seattle, I can't wait to see where tech and travel :)
        </p>
      </div>
    </div>

    <!--featured project-->
    <div class="col-lg shadow border m-1">
      <h2 class="text-center">Current Project</h2>
    </div>
  </div>
</div>
