<div class="container">
  <!--Is there a way to add a map feature?-->
  <div class="row">
    <!--about me-->
    <div class="col-md shadow border m-2">
      <div class="text-center">
        <h2 class="title1">About Me</h2>
        <img
          class="myPic"
          src="\assets\images\pic_of_me.jpg"
          alt="profile picture"
        />
      </div>
      <div class="paragraph">
        <p>
          I'm a Software Engineer with a pension for problem solving, technical
          accuracy, and a love of agile development! I'm currently focused on
          the Angular framework and front-end development while gowing my skills
          in backend architecture through SQL and .Net framework.
        </p>
        <p>
          I'm also a former educator for UMKC and tutor for Women’s+ Web
          Development bootcamp through LaunchCode. After the big move back home
          to Seattle, I can't wait to see where tech and I travel :)
        </p>
      </div>
    </div>

    <!--featured project-->
    <div class="col-md shadow border m-2">
      <h2 class="title2">Featured Project</h2>
      <h3 class="text-center p-2">{{featuredProject.name}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md shadow border m-1">
      <h2 class="text-center">Out of the office fun!</h2>
    </div>
  </div>
</div>
