.myPic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.row {
  padding: 15px;
}

.title1 {
  padding-top: 25px;
  padding-bottom: 5px;
}

.paragraph {
  padding-top: 10px;
  text-align: left;
  text-indent: 25px;
  margin: 15px 20px 30px;
  font-size: large;
}

.title2 {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
}
