<div class="container">
  <div class="row">
    <!--about me-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          class="mePic"
          src="\assets\images\pic_of_me.jpg"
          alt="profile picture"
          width="256px"
          height="256"
          class="rounded-circle"
        />
      </div>
    </div>

    <!--featured project-->
    <div class="col-lg shadow border m-1">
      <h2 class="text-center">Current Project</h2>
    </div>
  </div>
</div>
